:root {
	font-size: 62.5%;
	--height: calc( var( --vh, 1vh ) * 100 );
	--width: calc( var( --vw, 1vw ) * 100 );
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
	transform: translate3d(0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
	list-style: none;
}

li {
	list-style-type: none;
}

@font-face {
	font-family: 'Designer';
	src: url("../font/DesignerRegular.eot");
	src: local("Designer"), local("DesignerRegular"), url("../font/DesignerRegular.eot?#iefix") format("embedded-opentype"), url("../font/DesignerRegular.woff2") format("woff2"), url("../font/DesignerRegular.woff") format("woff"), url("../font/DesignerRegular.ttf") format("truetype"), url("../font/DesignerRegular.svg#DesignerRegular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-resizer {
	display: none !important;
	background: none !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

body {
	scrollbar-color: transparent !important;
	scrollbar-width: 0 !important;
}

::-moz-selection,
::selection {
	background-color: rgba(0, 0, 0, 0);
	color: #FFF;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

:placeholder-shown {
	color: rgba(255, 255, 255, 0.9);
}

::placeholder {
	color: rgba(255, 255, 255, 0.9);
}

html, body {
	height: 100vh;
	width: 100vw;
	background-color: #080808;
	background: url("../image/pattern.png") repeat, linear-gradient(90deg, #080808 0%, #1a1a1a 50%, #080808 100%);
	background: url("../image/pattern.png") repeat, linear-gradient( 90deg, hsl(0deg 0% 3%) 0%, hsl(0deg 3% 6%) 22%, hsl(0deg 3% 8%) 33%, hsl(0deg 3% 9%) 42%, hsl(0deg 4% 11%) 50%, hsl(0deg 3% 9%) 58%, hsl(0deg 3% 8%) 67%, hsl(0deg 3% 6%) 78%, hsl(0deg 0% 3%) 100% );
	color: rgba(255, 255, 255, 0.9);
	font: normal normal 700 1.6rem/1.168em -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, sans-serif;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
	-ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
	-o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	backface-visibility: hidden;
	scroll-behavior: smooth;
	overflow: hidden;
	height: var(--height);
	width: var(--width);
	-webkit-app-region: drag;
}

body {
	display: grid;
	height: 100vh;
	width: 100vw;
	height: var(--height);
	width: var(--width);
	grid-template-columns: 100%;
	grid-template-rows: 85% 15%;
}

body > header {
	display: flex;
	justify-content: center;
	grid-area: 1 / 1 / span 1 / span 1;
	height: 100%;
	width: 100%;
	pointer-events: none;
	user-select: none;
}

body > header > picture {
	position: absolute;
	display: flex;
	height: auto;
	width: 80vw;
	width: calc( 80 * var( --vw ));
	align-self: start;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	pointer-events: none;
	user-select: none;
}

body > header > picture > img {
	height: auto;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	animation: fade-logo 300ms ease-out 800ms forwards;
}

body > header > h1 {
	font-family: "Designer", sans-serif;
	color: rgba(181, 182, 170, 0.4);
	text-align: center;
	font-size: clamp(2em, 12vw, 20vh);
	font-size: clamp(2em, calc( 12 * var( --vw )), calc( 20 * var( --vh )));
	white-space: nowrap;
	margin-top: 10vh;
	margin-top: calc( 10 * var( --vh ));
	opacity: 0;
	pointer-events: none;
	user-select: none;
	animation: fade-title 300ms ease-out 800ms forwards;
}

body > main {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	place-content: center;
	height: 100vh;
	width: 100vw;
	height: var(--height);
	width: var(--width);
	grid-area: 1 / 1 / span 1 / span 1;
}

body > main > iframe {
	height: clamp(30vh, calc( 0.8 * 80vw), 50vh);
	width: 70vw;
	height: clamp(300px, calc( ( calc( 50 * var( --vh ) ) ) * 0.8), calc( 50 * var( --vh )));
	width: calc( 70 * var( --vw ));
	align-self: center;
	justify-self: center;
	opacity: 0;
	animation: fade-widget 300ms ease-out 1000ms forwards;
	z-index: 1;
}

body > main > picture {
	position: fixed;
	top: 0;
	margin-top: 50vh;
	margin-top: calc( 50 * var( --vh ));
	height: auto;
	width: 100vw;
	width: var(--width);
	object-fit: contain;
	pointer-events: none;
	user-select: none;
	z-index: 2;
}

body > main > picture > img {
	width: 100%;
	height: auto;
	object-fit: contain;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	animation: fade-group 400ms ease-out 300ms forwards;
}

body > main > picture:nth-of-type(2) {
	left: 0;
	margin-left: -40%;
}

body > main > picture:nth-of-type(1) {
	right: 0;
	margin-right: -40%;
}

body > nav {
	display: flex;
	width: 100vw;
	width: var(--width);
	justify-content: center;
	align-items: center;
	grid-area: 2 / 1 / span 1 / span 1;
	background: linear-gradient(0deg, #080808 50%, rgba(8, 8, 8, 0) 100%);
	opacity: 0;
	animation: fade-icons 300ms ease-out 500ms forwards;
}

body > nav > ul {
	display: flex;
	width: 100vw;
	width: var(--width);
	padding: 0 10vw;
	padding: 0 calc( 10 * var( --vw ));
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

body > nav > ul > li > a,
body > nav > ul > li a:link,
body > nav > ul > li a:visited,
body > nav > ul > li a:hover,
body > nav > ul > li a:active {
	color: rgba(202, 202, 203, 0.9);
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, "Segoe UI", helvetica neue, helvetica, Tahoma, Geneva, Verdana, Ubuntu, roboto, sans-serif;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 700;
	text-align: center;
}

body > nav > ul > li > a > figure,
body > nav > ul > li a:link > figure,
body > nav > ul > li a:visited > figure,
body > nav > ul > li a:hover > figure,
body > nav > ul > li a:active > figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body > nav > ul > li > a > figure > picture,
body > nav > ul > li a:link > figure > picture,
body > nav > ul > li a:visited > figure > picture,
body > nav > ul > li a:hover > figure > picture,
body > nav > ul > li a:active > figure > picture {
	display: flex;
	height: auto;
	width: clamp(6vh, 12vw, 46px);
	width: clamp(6vh, calc( 12 * var( --vw )), 46px);
}

body > nav > ul > li > a > figure > picture > img,
body > nav > ul > li a:link > figure > picture > img,
body > nav > ul > li a:visited > figure > picture > img,
body > nav > ul > li a:hover > figure > picture > img,
body > nav > ul > li a:active > figure > picture > img {
	height: auto;
	width: 100%;
	border: none;
	outline: none;
	opacity: 0.9;
}

body > nav > ul > li > a > figure > figcaption,
body > nav > ul > li a:link > figure > figcaption,
body > nav > ul > li a:visited > figure > figcaption,
body > nav > ul > li a:hover > figure > figcaption,
body > nav > ul > li a:active > figure > figcaption {
	display: none;
	margin-top: 1rem;
	font-size: 1.6em;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(202, 202, 203, 0.4);
}

body > nav > ul > li[data-view=full], body > nav > ul > li[data-show=false] {
	display: none;
}

body > footer {
	position: fixed;
	display: none;
	bottom: 2vh;
	bottom: calc( 2 * var( --vh ));
	left: 0;
	width: 100vw;
	width: var(--width);
	padding-bottom: env(safe-area-inset-bottom);
}

body > footer > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

body > footer > ul > li {
	color: rgba(202, 202, 203, 0.8);
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, "Segoe UI", helvetica neue, helvetica, Tahoma, Geneva, Verdana, Ubuntu, roboto, sans-serif;
	font-size: 1em;
	font-weight: 600;
}

body > footer > ul > li:first-of-type {
	margin-right: 5vw;
	margin-right: calc( 5 * var( --vw ));
}

body > footer > ul > li:last-of-type {
	margin-left: 5vw;
	margin-left: calc( 5 * var( --vw ));
}

body > footer > ul > li > a,
body > footer > ul > li a:link,
body > footer > ul > li a:visited,
body > footer > ul > li a:hover,
body > footer > ul > li a:active {
	color: rgba(202, 202, 203, 0.8);
	text-decoration: none;
}

@media only screen and (orientation: landscape) {
	body {
		grid-template-rows: 80% 20%;
		background: url("../image/pattern.png") repeat, linear-gradient(90deg, #080808 0%, #1a1a1a 50%, #080808 100%);
		background: url("../image/pattern.png") repeat, linear-gradient( 90deg, hsl(0deg 0% 3%) 0%, hsl(0deg 3% 6%) 22%, hsl(0deg 3% 8%) 33%, hsl(0deg 3% 9%) 42%, hsl(0deg 4% 11%) 50%, hsl(0deg 3% 9%) 58%, hsl(0deg 3% 8%) 67%, hsl(0deg 3% 6%) 78%, hsl(0deg 0% 3%) 100% );
	}
	body > main > iframe {
		height: 30vh;
		width: 40vw;
		height: calc( 30 * var( --vh ));
		width: calc( 40 * var( --vw ));
	}
	body > main > picture {
		top: 0;
		bottom: unset;
		height: auto;
		width: 100vw;
		width: var(--width);
		margin-top: unset;
		z-index: 1;
	}
	body > main > picture:nth-of-type(2) {
		margin-left: -45%;
	}
	body > main > picture:nth-of-type(1) {
		margin-right: -45%;
	}
	body > nav > ul > li > a > figure > picture,
	body > nav > ul > li a:link > figure > picture,
	body > nav > ul > li a:visited > figure > picture,
	body > nav > ul > li a:hover > figure > picture,
	body > nav > ul > li a:active > figure > picture {
		width: clamp(2vh, 10vh, 64px);
		width: clamp(calc( 2 * var( --vh )), calc( 10 * var( --vh )), 64px);
	}
	body > nav > ul > li[data-view=full] {
		display: unset;
	}
}

@media only screen and (orientation: landscape) and (pointer: coarse) {
	body > header > picture {
		display: none;
	}
	body > main > iframe {
		height: 40vh;
		width: 60vw;
		height: calc( 40 * var( --vh ));
		width: calc( 60 * var( --vw ));
	}
}

@media only screen {
	/** iPad Mini & Larger */
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
	body {
		grid-template-rows: 30% 70%;
		background: url("../image/pattern.png") repeat, linear-gradient(90deg, #1a1a1a 0%, #080808 50%, #1a1a1a 100%);
		background: url("../image/pattern.png") repeat, linear-gradient( 90deg, hsl(0deg 4% 11%) 0%, hsl(0deg 3% 9%) 13%, hsl(0deg 2% 7%) 25%, hsl(0deg 1% 5%) 37%, hsl(0deg 0% 3%) 50%, hsl(0deg 1% 5%) 63%, hsl(0deg 2% 7%) 75%, hsl(0deg 3% 9%) 87%, hsl(0deg 4% 11%) 100% );
	}
	body > header > picture {
		position: absolute;
		height: 50vh;
		height: calc( 50 * var( --vh ));
		width: auto;
	}
	body > header > picture > img {
		height: 100%;
		width: auto;
	}
	body > header > h1 {
		display: unset;
		animation: fade-title 300ms ease-out 800ms forwards;
	}
	body > main {
		grid-area: 2 / 1 / span 1 / span 1;
	}
	body > main > iframe {
		width: 30vw;
		height: 30vh;
		width: calc( 30 * var( --vw ));
		height: calc( 30 * var( --vh ));
		max-width: 600px;
		max-height: 400px;
		align-self: start;
		margin-top: 10vh;
		margin-top: calc( 10 * var( --vh ));
	}
	body > main > picture {
		height: 100vh;
		width: auto;
		margin-top: unset;
		transform: scaleX(-1);
		z-index: 1;
	}
	body > main > picture > img {
		height: 100%;
		width: auto;
	}
	body > main > picture:nth-of-type(2) {
		left: unset;
		margin-left: -50vh;
	}
	body > main > picture:nth-of-type(1) {
		right: unset;
		margin-right: -50vh;
	}
	body > nav {
		grid-area: 1 / 1 / span 1 / span 1;
		background: none;
		align-self: end;
	}
	body > nav > ul {
		justify-content: center;
	}
	body > nav > ul > li {
		width: clamp(calc( 2vh * 2), calc( 10vh * 2), calc( 64px * 2));
		width: clamp(calc( calc( 2 * var( --vh ) ) * 2), calc( calc( 10 * var( --vh ) ) * 2), calc( 64px * 2));
	}
	body > nav > ul > li > a > figure > picture,
	body > nav > ul > li a:link > figure > picture,
	body > nav > ul > li a:visited > figure > picture,
	body > nav > ul > li a:hover > figure > picture,
	body > nav > ul > li a:active > figure > picture {
		width: clamp(2vh, 10vh, 64px);
		width: clamp(calc( 2 * var( --vh )), calc( 10 * var( --vh )), 64px);
	}
	body > nav > ul > li[data-view=full] {
		display: unset;
	}
	body > footer {
		display: unset;
	}
}

@keyframes fade-group {
	to {
		opacity: 0.94;
	}
}

@keyframes fade-icons {
	to {
		opacity: 1;
	}
}

@keyframes fade-logo {
	to {
		opacity: 0.2;
	}
}

@keyframes fade-title {
	to {
		opacity: 1;
	}
}

@keyframes fade-widget {
	to {
		opacity: 0.7;
	}
}

@media (min-width: 1025px) and (pointer: fine) and (hover: hover) {
	@keyframes fade-logo {
		to {
			opacity: 0.1;
		}
	}
}
